.auth
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 100vh

  .header
    margin-bottom: 3em
    color: white

    .primary
      font-size: 2.75em

    .secondary
      font-size: 1.5em

  .panel
    width: 30em
    padding: 2em 4em
    background: white
    box-shadow: 0px 30px 40px 0px alpha($dark-blue-b, 0.2)
    border-radius: 4px

  .loading-state
    .panel
      display: flex
      justify-content: center
      align-items: center
      height: 25em

    .spinner
      font-size: 5em

  .button
    margin-top: 2em
    background-color: $blue-a
    border-width: 0

  .alternate
    margin-top: 2em
    color: white
    text-decoration: none
    cursor: pointer

    &:hover
      text-decoration: underline