.trial
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 2em 0

  & > *:not(:last-child)
    margin-bottom: .75rem

.call-to-action
  font-size: 1.25em
  font-weight: 700
  color: white

.reinforcement
  font-size: .6em
  color: rgba(white, .65)

.button
  padding: .5em 1.5em
  color: white
  border: 2px solid rgba(white, .65)
  border-radius: 3px