@import './base/_colors';
@import './base/_breakpoints';

:global
  *
    box-sizing: border-box
    -webkit-font-smoothing: antialiased
    font-family: 'Lato', sans-serif !important

  html
    color: $black
    background-color: $white
    font-size: .85vw

  body
    margin: 0

  p
    line-height: 2

  ul
    list-style: none
    padding: 0
    margin: 0

