.creator
  padding: 0 1em

  &:not(.editing) .content
    cursor: pointer

.content
  position: relative
  display: flex
  align-items: center
  padding: 1em 0
  color: black
  border-bottom: 1px solid #F0EBEC

.prompt, .input
  flex: 1
  height: 100%
  font-size: 1em
  color: #ACAEB4

.input
  background-color: transparent
  border-width: 0

  &:focus
    outline: none

.add
  cursor: pointer

  &.button
    font-weight: bold
    color: #ACAEB4

    &:hover, &:active
      color: #1EB5F9