*
  box-sizing: border-box
  text-rendering: geometricPrecision;

html
  font-family: Montserrat
  font-size: 100%
  color: $dark-blue-a

body
  min-height: 100vh
  background-image: linear-gradient(-269deg, #3B55E6 0%, #6A3FBD 100%)